@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-smooth: auto;
    
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;

    --primary: theme('colors.primary');
    --secondary: theme('colors.secondary');
    --accent: theme('colors.accent');

    --text-primary: theme('colors.txt-primary');
    --text-secondary: theme('colors.txt-secondary');

    color: var(--text-primary);
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
    font-family: 'Anek Tamil';
}

.dialog-background {
    padding: 0.7vw;
    box-sizing: border-box;
    background: #1f2937;
    border: 1px solid rgba(216, 198, 160, 0.85);
    border-radius: 4px;
}

.dialog-button {
    padding: 0.6vw;
    background: #1f2937;
    border: 1px solid rgba(216, 198, 160, 0.85);
    border-radius: 4px;
}

.dialog-button:hover {
    border: 1px solid white;
}
